.skip a{
  position:absolute;
  top: -40px;
  background-color: #00274C;
  color: #FFCB05;
  font-weight: bold;
}
.skip a:focus{
  top:20px;
}

nav {
  background-color: #00274C;
  color: #FFCB05;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 5px;
}

nav ul{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-items: center;
}
nav ul li a{
  text-align: center;
  color: #FFCB05;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav ul li .active {
background-color: #FFCB05;
color: #00274C;
text-decoration: underline;
}
nav ul li a:hover {
  background-color: #989C97;
  color: #00274C;
}

body {
    font-size: 1rem; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #00274C;
    padding: 1rem;
    line-height: 1.5;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
    color: #00274C;
    text-shadow: 1px 1px 1px grey;
  }
  
  h2 {
    font-size: 2rem; 
    background-color: #989C97;
    box-shadow: 2px 2px 5px grey;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  h3{
    font-style: italic;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  
    margin-bottom: 1rem;
    color:#131516;
  }

  h2 a{
    color: #00274C;
    text-decoration: underline;
  }
  h3 a{
    color:#2F65A7;
    text-decoration: none;
  }
  figcaption{
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px auto;
  }
header img{
  width: 80%;
  margin: 5px;
}
ol{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
}
ol li{
  padding:0 5px;
}

section ul{
  margin: 0 50px;
}

footer {
    color: #00274C;
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(152, 156, 151, 0.2);
    margin-top: 1rem;
    border-radius: 5px;
}
footer p {
    margin: 0;
    color: #00274C;
}
footer .Address {
    margin: 10px 0;
}
footer a {
    color: #2F65A7;
    text-decoration: underline;
}

footer a:hover {
    color: #FFCB05;
    
}
footer img{
  width:20%;
  margin: auto;
}
p a{
  color: #2F65A7;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}
button{
  background-color: #FFCB05;
  color: #00274C;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  display: block; 
  margin: 5px auto;
}
.CAPS-appointment-button button{
  background-color: #2F65A7;
  color:white;
}
.CAPS-urgent-button button{
  background-color:		#9A3324;
  color: white;
}


#contactForm {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}


#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333333;

}

#contactForm input[type="text"]:focus,
#contactForm input[type="email"]:focus,
#contactForm textarea:focus {
  border-color: #FFCB05;
}

#contactForm button {
  background-color: #FFCB05;
  color: #00274C;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

#contactForm button:hover {
  background-color: #00274C;
  color: #FFCB05;
}

#formResponse {
  margin-top: 15px;
  font-size: 16px;
  color: #2F65A7;
  font-weight: bold;
  text-align: center;
}
.error button{
  background-color: #FFCB05;
  color: #00274C;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: block; 
  margin: 5px auto;
} 
#pageerror{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
body{
  background-color: white;
  display: grid;
  grid-template-columns: 25% 75%;
}
header{
  background-color: #989C97;
  padding: 1rem;
  margin-right: 1rem;

}
nav{
  background-color:#989C97;
  position: sticky;
  top: 0;
}
nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 2rem;
  margin-top: 1rem;
}
nav ul li a{
  color: #00274C;
}
nav ul li .active {
  background-color: #00274C;
  color: #FFCB05;
  text-decoration: underline;
  }
  nav ul li a:hover {
    background-color: #b2b7b2;
    color: #00274C;
  }
footer{
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
  }
  footer img{
    width: 40%;
    grid-row: 2/ span 1;
  }

footer .copyright{
  grid-column: 1 / span 1;
}
footer .Address{
  grid-column: 2 / span 1;
  grid-row: 1/ span 1;
}
footer .links{
  grid-column: 2 / span 1;
} 
h1{
  color: #FFCB05;
  background-color: #00274C;
  border-radius: 10px;
  padding: 15px 0;
  margin-top: 0;
}

}